:root {
  --primary-one: hsl(0, 100%, 74%);
  --primary-two: hsl(154, 59%, 51%);
  --accent-one: hsl(248, 32%, 49%);
  --neutral-one: hsl(249, 10%, 26%);
  --neutral-two: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--primary-one);
  background-image: url(images/bg-intro-desktop.png);
  color: #fff;
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

section {
  display: grid;
  align-items: center;
  grid-template-columns: 45rem 50rem;
  gap: 4.8rem;
}

/* .box-text {} */

.main-heading {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
  animation: moveInBottom 1.25s ease;
}

.main-description {
  line-height: 1.7;
  animation: moveInBottom 1.35s ease;
}

.box-form {
  animation: moveInBottom 1.55s ease;
}

.box-trial {
  background-color: var(--accent-one);
  padding: 1.2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 0px;
  margin-bottom: 2.4rem;
}

form {
  padding: 3.6rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 0px;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.input-wrapper {
  position: relative;
}

input {
  display: block;
  width: 100%;
  padding: 1.6rem 2.8rem;
  border-radius: 4px;
  border: 2px solid hsla(246, 25%, 77%, 0.5);
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

input:hover {
  border: 2px solid hsl(249, 10%, 26%);
}

input::placeholder {
  font-family: inherit;
  font-weight: 600;
}

input[type="submit"] {
  background-color: var(--primary-two);
  font-family: inherit;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 0.1s ease;
  border: none;
  box-shadow: hsl(154, 59%, 41%) 0px 4px 0px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: hsl(154, 59%, 61%);
  box-shadow: hsl(154, 59%, 51%) 0px 4px 0px;
}

input[type="submit"]:active {
  transform: translateY(3px);
}

.form-terms {
  color: var(--neutral-two);
  font-size: 1.2rem;
  text-align: center;
}

.form-terms span {
  font-weight: 700;
  color: var(--primary-one);
}

/*********************/
/* FORM ERROS STYLES */
/*********************/
.input-error {
  border: 2px solid hsl(0, 100%, 74%);
  border-radius: 4px;
  color: var(--primary-one);
}

.error-message {
  margin-top: -1.4rem;
  font-style: italic;
  text-align: right;
  color: var(--primary-one);
  font-size: 1.3rem;
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(50%, -50%);
}

/* Footer */
.attribution {
  padding: 0 1.2rem;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.7;
  animation: moveInBottom 1.65s ease;
}

.attribution a {
  color: var(--neutral-one);
}

.hidden {
  display: none;
}

/* BELOW 1040 PX */
@media (max-width: 65em) {
  main {
    height: auto;
    display: initial;
    margin: 3.2rem auto;
  }

  section {
    padding: 9.6rem;
    grid-template-columns: 1fr;
    gap: 4.8rem;
  }

  .box-text {
    text-align: center;
  }
}

/* BELOW 600 PX */
@media (max-width: 37.5em) {
  body {
    background-image: url(images/bg-intro-mobile.png);
  }

  section {
    padding: 2.4rem;
  }

  .main-heading {
    font-size: 3.2rem;
  }

  form {
    padding: 2.4rem;
  }

  .attribution {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
